@page "/itemorders"
@using WebProject.Models
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@inject ApplicationDbContext DbContext
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ISnackbar Snackbar
@inject ShippingController ShippingController
@using WebProject.Components.Account.Pages

<PageTitle>Item Orders</PageTitle>

<MudContainer>
  <MudTable Items="@orders" Hover="true" Striped="true">
    <HeaderContent>
      <MudTh>Order ID</MudTh>
      <MudTh>Total Price</MudTh>
      <MudTh>Status</MudTh>
      <MudTh>Address</MudTh>
      <MudTh>Created At</MudTh>
      <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate Context="order">
      <MudTd>@order.Id</MudTd>
      <MudTd>@order.TotalPrice.ToString("C")</MudTd>
      <MudTd>@order.Status</MudTd>
      <MudTd>@order.ShippingAddress</MudTd>
      <MudTd>@order.CreatedAt.ToString("g")</MudTd>
      <MudTd>
        <AuthorizeView Roles="Shipper">
          <Authorized>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => AssignOrderToShipper(order.Id)">
              Assign to Me
            </MudButton>
          </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
          <Authorized>
            @{
              var shipper = itemShippers.FirstOrDefault(itemShipper => itemShipper.OrderId == order.Id)?.ShipperId;
              var shipperName = shipper != null ? DbContext.Users.FirstOrDefault(user => user.Id == shipper)?.UserName :
                      null;
            }
            @if (shipperName != null)
            {
              <span>Assigned Shipper: @shipperName</span>
            }
            else
            {
              <span>Not Assigned</span>
            }
          </Authorized>
        </AuthorizeView>
      </MudTd>
    </RowTemplate>
  </MudTable>
</MudContainer>

@code {
  private List<Order> orders = new();
  private List<ItemShipper> itemShippers = new();

  protected override async Task OnInitializedAsync()
  {
    await LoadOrders();
    await LoadItemShippers();
  }

  private async Task LoadOrders()
  {
    orders = await DbContext.Orders
    .Where(o => o.Status == "Pending")
    .ToListAsync();
  }

  private async Task LoadItemShippers()
  {
    itemShippers = await DbContext.ItemShippers.ToListAsync();
  }

  private async Task AssignOrderToShipper(int orderId)
  {
    try
    {
      await ShippingController.AssignOrderToShipper(orderId);
      Snackbar.Add("Order assigned successfully", Severity.Success);
      await LoadOrders();
      await LoadItemShippers();
    }
    catch (InvalidOperationException ex)
    {
      Snackbar.Add(ex.Message, Severity.Error);
    }
  }
}